@import "vars";
@import "global";
@import "fonts";

// start header
.header {
  margin: 0 auto;
  left: 0;
  right: 0;
  max-width: 100%;
}
.header-inner {
  margin-top: -35px;
}
.header__all {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.header__wrapper.fixed {
  position: fixed;
  z-index: 2;
}
.header__wrapper {
  position: absolute;
  top: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color: #b89c8a;
  opacity: 0.851;
}
.header-logo-text {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 0px;
  // margin: 10px 80px 10px 10px;
  &::before {
    content: url(../images/cup.png);
  }
}
.header-menu li,
a {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  margin: 0 10px;
  &:hover {
    color: #72605f;
  }
}
.header-menu .active {
  color: #563f3b;
  border: 2px solid #563f3b;
  padding: 5px 10px;
}
.menu-bg-image {
  position: relative;
  max-width: 1920px;
  min-height: 800px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/menu-bg-im.jpg);
}
.menu-bg-title {
  animation-duration: 3s;
}
.menu-bg-image h2 {
  text-align: center;
  line-height: 46px;
  color: #fff;
  font-size: 42px;
  max-width: 950px;
  // margin: 0 auto;
  text-transform: uppercase;
  position: relative;
  top: 520px;
}
.bg-color {
  background-color: #d8b9a5;
  opacity: 0.8;
}
.header-menu ul {
  margin: 0;
  padding: 15px 0px;
}
.mob-menu-burger {
  display: none;
}
// end header
// start menu
.menu {
  background-color: #afa09f;
  padding-top: 30px;
  padding-bottom: 30px;
}
.menu-title,
.product-title,
.text-title,
.insta-title,
.testimonial-title,
.location-title {
  font-size: 30px;
  text-transform: uppercase;
  padding: 30px 10px 5px 15px;
  color: #563f3b;
  margin-bottom: 30px;
  animation-duration: 3s;
}
.menu-title-line {
  width: 90px;
  height: 3px;
  border: 2px solid #563f3b;
  margin: -25px 0 25px 15px;
}
.menu-items {
  display: flex;
  justify-content: space-between;
  column-count: 4;
  padding: 10px 10px 30px 10px;
}
.limonade {
  background-image: url(../images/limonade.png);
}
.donut {
  background-image: url(../images/donut.png);
}
.ice-cream {
  background-image: url(../images/ice-cream.png);
}
.coffee {
  background-image: url(../images/coffee.png);
}
.limonade,
.donut,
.ice-cream,
.coffee {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
.menu-item-title {
  font-size: 24px;
  text-transform: uppercase;
  width: 270px;
  text-align: center;
}
.menu-item-text {
  font-size: 19px;
  width: 270px;
  text-align: center;
}
// end menu
// start photo
.photo {
  background-color: #cec4bf;
  padding-top: 50px;
  padding-bottom: 50px;
}
.photo-sliders {
  padding: 20px 10px;
  width: 100%;
  position: relative;
}
.photo-slider-coffee img {
  width: 270px !important;
  height: 270px;
  padding-bottom: 10px;
}
.photo-products {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-nav li {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 10px;
}
.product-nav a {
  font-size: 19px;
}
.product-title {
  position: relative;
}
.product-title-line {
  width: 90px;
  height: 3px;
  border: 2px solid #563f3b;
  position: absolute;
  margin: 25px 0 25px 15px;
}
.product-nav .active {
  color: #563f3b;
  border: 2px solid #563f3b;
  padding: 5px 10px;
}
.active-click{
  color: #563f3b;
  border: 2px solid #563f3b;
  padding: 5px 10px;
}
// end photo
// start video
.video {
  padding: 50px 0px;
  background-color: #d8c3b4;
}
.video__inner {
  display: flex;
  align-items: center;
}
.text {
  position: relative;
}
.text-title {
  text-align: center;
}
.text-title-line {
  width: 90px;
  height: 3px;
  border: 2px solid #563f3b;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 75px;
}
.text-paragraph {
  font-size: 19px;
  text-align: center;
  line-height: 25px;
  padding: 0 10px;
}
// end video
// start insta
.instagram {
  background-color: #d0cbc6;
  background-image: url(../images/instagram-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1920px;
  padding-top: 30px;
  padding-bottom: 50px;
}
.instagram__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.insta-title {
  left: 0;
  right: 0;
  animation-duration: 3s;
}
.insta-line {
  width: 90px;
  height: 3px;
  border: 2px solid #563f3b;
  position: absolute;
  margin: 25px 0 25px -15px;
}
.insta-text {
  padding: 0 10px;
  font-size: 28px;
  text-align: center;
  color: #563f3b;
  animation-delay: 1s;
  & a {
    font-size: 25px;
    text-transform: unset;
    // color: #6A6263;
    background-color: #624a3c;
    border-radius: 50px;
    padding: 2px 10px;
    color: #fff;
    &:hover {
      background-color: #a27e66;
      border-radius: 50px;
      padding: 2px 10px;
      color: #fff;
    }
  }
}
// end insta
// start testimonials
.testi-line {
  width: 90px;
  height: 3px;
  border: 2px solid #563f3b;
  position: absolute;
  margin: -25px 0 25px 15px;
}
.testimonials {
  background-image: url(../images/table.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1920px;
  padding-bottom: 40px;
  padding-top: 40px;
}
.testimonial-title::after {
  content: url(../images/testi.png);
  width: 26px;
  height: 32px;
}
.testimonial-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonial-text {
  font-size: 28px;
  color: #515f67;
  margin-top: 10px;
  margin-left: 15px;
  max-width: 1000px;
}
.testimonial-author {
  font-size: 28px;
  font-weight: 700;
  margin-left: 15px;
}
// end testimonials
// start footer
.footer {
  background-color: #aea09f;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-links {
  display: flex;
  & a:hover {
    color: #72605f;
  }
}
.footer-links a {
  font-size: 12px;
  margin: 0px;
}
.footer-copy {
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  padding: 10px;
}
// end footer

@import "media";
